@font-face {
	font-family:'Montserrat Bold';
	src: url("../fonts/montserrat/Montserrat-Bold.otf");
}
@font-face {
	font-family:'Montserrat Light';
	src: url("../fonts/montserrat/Montserrat-Light.otf");
}
@font-face {
	font-family:'Montserrat Regular';
	src: url("../fonts/montserrat/Montserrat-Regular.otf");
}
@font-face {
	font-family:'Montserrat Hairline';
	src: url("../fonts/montserrat/Montserrat-Hairline.otf");
}
@font-face {
	font-family:'Montserrat Bold';
	font-style: bold;
	font-weight: bold;
	font-display: auto;
	src: url("../fonts/montserrat/Montserrat-Bold.otf");
}
@font-face {
	font-family:'Montserrat Regular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url("../fonts/montserrat/Montserrat-Regular.otf");
}
@font-face {
	font-family:'Montserrat Light';
	font-style: normal;
	font-weight: normal;
	font-display: normal;
	src: url("../fonts/montserrat/Montserrat-Light.otf");
}
@font-face {
	font-family:'Montserrat Hairline';
	font-style: normal;
	font-weight: normal;
	font-display: normal;
	src: url("../fonts/montserrat/Montserrat-Hairline.otf");
}
body{
	background-color:#fff;
	font-family:'Montserrat Light';
}
.bg-white{
background-color:#fff !important;
}
.top-header,.top-header a{
	padding:10px;
	color:#888;
	font-size:12px;
}
.top-header a:hover{
	text-decoration:none;
	color:#333;
}
#topbar.topbar-scrolled {
    top: -40px;
}
#header.header-scrolled {
    top: 0;
}
.phone,.chat,.member{
	margin-right :10px;
}
.top-header .fa-tags{
	color:blue;
}
.fa-tags:after{
	content:;
}
.navbar-brand{
	
}
.navbar-brand img{
	width:70%;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(70, 70, 70, 0.5);
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active{
	color:#333;	
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(30, 30, 30, 0.75);
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color:dodgerblue;
    border:none;
	padding:0px;
	margin-bottom:5px;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    top: 23px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	font-size:16px;
}
#topbar{
background:#fff;
top:0px;

}
#topbar a{
	font-size:11px;
	color:#555;
}
#content-page{
	top: 90px;
    position: relative;
}
#hosting{
	margin-top:25px;
	background-image:url('../svg/illustration banner PHP hosting-01.svg');
	background-repeat:no-repeat;
	background-position:right;
	background-size:50% 100%;
}
#hosting h3{
	font-family:'Montserrat Bold';
	font-size:1.5rem;
}
#hosting p{
	font-size:1.6rem;
}
.hosting-list{
	
}
.hosting-list li{
    list-style: none;
    line-height: 2;
	font-size:14px;
}
.fa-li {
	color:limegreen;
}	
.h-60{
	position:relative;
	top:60px;
}
.image-server{
	margin: 20px;
    min-height: 190px;
    padding: 10px;
    text-align: center
}
.support-host{
	margin-bottom:25px;
}
#server p{
	text-align: center;
    color: #555;
    font-size: 12px
}
#server h4{
    text-align: center;
	font-size: 1.2rem;
}
.domain{
	margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#pricing{padding:0px;}
.domain .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    border:1px solid darkgrey;   
    position: relative;
    overflow: hidden;
}
.domain .box:hover{
	box-shadow: -5px -5px 13px 5px rgb(0 0 0 / 15%);
    margin: -10px 0px;
}
.domain .box h3 {
    font-weight: bold;
    margin: -20px -20px 20px -20px;
    padding: 15px 15px;
    font-size: 18px;
    color: #555;
    background: #fff;
    border-bottom: 1px solid darkgrey;
	font-family: 'Montserrat Bold';
}
.domain .box h4{
	font-size:18px;
	font-family: 'Montserrat Bold';
}
.domain .box p{
	font-weight: normal;
    margin: -20px -20px 20px -20px;
    padding: 5px 15px;
    font-size: 12px;
    color: #555;
    background: #fff;
    border-bottom: 1px solid darkgrey;
}
.domain .text-line{
	text-decoration: line-through;
}
.domain .box sup{
	font-size:10px;
	
}
.domain  .featured{ border-color:#106eea;}
.domain  .featured h3{ 
background:#168eee;
color:#fff;
border-bottom:1px solid #168eee;
}
.domain .featured p{
	font-weight: normal;
    margin: -20px -20px 20px -20px;
    padding: 5px 15px;
    font-size: 12px;
    background-color:#106eea;
	color:#fff;
    border-bottom: 1px solid #106eea;
}
.domain .featured .pricing{
	background:#168eee;
	color:#fff;
	border-bottom:1px solid #106eea !important;
}
.domain .box .pricing{
	margin: -20px -20px 20px -20px;
    padding: 20px 15px;
	border-bottom:1px solid darkgrey;
}
.domain .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    text-align: center;
}
.domain .btn-buy {
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    border-color: darkgrey;
    border: 1px solid;
}

.domain .box ul {
    padding: 0;
    list-style: none;
    color: #777;
    text-align: center;
    line-height: 1.75;
    font-size: 12px;
}
.domain .box ul li{
	
}
.featured .btn-buy{
	background: #106eea; 
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 20px;
	color:#fff;
	border:none;
}
.star-blue{
	color:#168eee;
}
.btn-wrap a{
	text-decoration:none;
}
.domain .btn-buy:hover{
	background-color:whitesmoke;
}
.featured .btn-buy:hover{
	background-color:#007bff;
}
.domain .favorite{
	width: 155px;
    position: absolute;
    top: 35px;
    left: -58px;
    transform: rotate(310deg);
    z-index: 1;
    font-size: 13px;
    padding: 4px 0px 5px 30px;
    background: limegreen;
    color: #fff;
}
.section-title{
	text-align:center;
}
.section-title h3{
	font-size:21px;
}
.website .linkinfo{
	padding: 30px;
    margin: 10px;
	position: relative;
    overflow: hidden;
}
.website .info-list{
	border: 1px solid lightgray;
    padding: 20px 15px;
    margin: 0px 15px;
    font-size: 14px;
}

.website .info-list .fa-check-circle{
	color:limegreen;
	margin-right: 10px;
}
.dark {
background:lightgray;
}
.fasility{
	margin-bottom: 30px;
	padding-bottom:30px;
}
.fasility .php-versions{
	margin-top:30px;
}
.fasility .php-versions:hover{
	box-shadow: -5px -5px 10px 5px rgb(0 0 0 / 12%);
}
.fasility .php-versions h4{
	font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.fasility .php-versions p{
	font-size: 12px;
    line-height: normal;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    text-align: center;
}
.fasility .php-versions img{
	width:70px;
	margin:15px 105px;
}
.framework{
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom: 1px solid #eaeaea;
}

.framework-info h4{
	font-size: 16px;
    margin-top: 25px;
    text-align: left;
    line-height: 1.5;
}
.framework-info  li{
	line-height: 2;
    font-size: 14px;
}
.framework-info{
	font-size: 10px;
    font-weight: normal;
}
.framework .btn-buy{
	background: #106eea;
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border-radius: 20px;
    color: #fff;
    margin-top: 10px;
	font-size: 14px;
}
.moduls{
	padding:15px;
	margin:15px auto;
	
}
.moduls .moduls-info{
	text-align: center;
    margin: 20px auto;
    font-size: 14px;
}
.moduls .btn-wrap {
    margin: 20px auto;
    padding: 20px 15px;
    text-align: center;
}
.moduls .btn-buy{
	background: #fff; 
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
	border:1px solid darkgrey;
}
.moduls .btn-buy:hover{
	background-color:#007bff;
	color:#fff;
}
.linux-hosting{
	    background-image: url('../images/Image support.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 30%;
    padding: 30px 0px;
    margin: 30px auto;
}
.linux-hosting .linux-hosting-info{
	
}
.linux-hosting-info h4{
	    font-size: 21px;
}
.linux-hosting-info p{
	font-size: 14px;
}
.linux-hosting .btn-buy {
    background: #106eea;
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border-radius: 20px;
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}
.footer {
    
    color: #444444;
    font-size: 14px;
    background: #ececec;
    position: relative;
    top: 60px;
}
.footer-info{
	
}
.footer-info p{
	margin-top:25px;
}
.footer-info i{
	margin-top:25px;
	font-size:24px;
}
.footer-info input{width:40px}
.social-shared{float:left;margin-right:20px;}
.fa-google-plus-square{color: #dd4b39}
.fa-twitter-square {
    color: #00aced;
}
.fa-facebook-square {
    color: #3b5998;
}
.footer-contact{
color: #fff;
font-size: 14px;
background: #106eea;
position: relative;
padding:30px;
}
.footer-contact a{
font-size: 14px;
color: #fff;
padding: 10px;
border: 1px solid;
border-radius: 90px;
}
.footer-contact i{margin-right:10px;}
.footer-bottom{
color: #fff;
font-size: 14px;
background: #444;
position: relative;
padding:30px;
}
.footer-bottom h4{
font-size: 20px;
color: lightgrey;
margin: 30px auto;
}
.footer-bottom p{
margin:0px;
font-size:14px;
}
.footer-bottom ul{
color:#fff;
list-style: none;
padding: 0px;
}
.footer-bottom ul li a{
color:#fff;
}
.footer-bottom ul li a:hover{
color: lightgrey;
text-decoration: none;
}
.footer-bottom  span{font-size:13px;}
.footer-bottom i{
font-size: 32px;
margin-top: 85px;
}
.custom-search {
      position: relative;
    }
    .custom-search-input {
      width: 100%;
      padding-right: 100px !important; 
      box-sizing: border-box;
      border-radius: 30px !important;
    }
    .custom-search-botton {
      position: absolute;
      right: 3px; 
      top: 3px;
      bottom: 3px;
      line-height: 1 !important;
      z-index: 4;
      border-radius: 30px;
    }
	ul.logo-bank li {
    width: 7%;
    float: left;
    margin-right: 5px;
}
.logo-bank img{
	max-width:73px;
    width:100%;
}
.nunito-light {
    font-family: NunitoSans-Light !important;
    font-weight: 300 !important;
}
.payment {
	line-height:2.5;
	color:#777;
}
.payment a{
	color:#777;
}
.copyright_info {
    padding: 30px 0 50px;
    margin: 0;
    width: 100%;
    font-size: 12px;
    background-color: #333;
    float: left;
    color: #d7d7d7;
    text-align: center;
}
.copyright_info a {
    margin-top: 10px;
    font-size: 12px;
    color: #d7d7d7;
    text-align: right;
}
.scrollup {
    width: 40px;
    height: 40px;
    opacity: 1;
    bottom: 3px;
    left: 80px;
    display: inline;
    background: url(https://www.niagahoster.co.id/assets/images/scroll-top-arrow.png) left top no-repeat;
    z-index: 9999;
}
@media(max-width:576px){
	
	#hosting{
		background-image:none;
	}
    #header{
        top:0px;
    }
}
.footer-bottom p{
    
}
@media (min-width: 768px) {


}
@media (min-width: 992px) {
	.framework-info{
    background-image: url('../svg/illustration banner support laravel hosting.svg');
    background-repeat: no-repeat;
    background-position:100% 100%;
    
  }
  #hosting{
    background-image:url('../svg/illustration banner PHP hosting-01.svg');
    background-repeat:no-repeat;
    background-position:right;
    }
}
@media(min-width:1200px){
	.top-header{
		display:flex;	
	}
	.top-header a{
		font-size:14px;
	}

}
